body {
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu {
  height: 100px;
  background-color: #e1ede6;
  padding: 33px 165px 32px 165px;
}

.navbar__menu-list {
  display: flex;
  gap: 60px;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar__logo a {
  color: #598d66;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
}

.cart__wrapper {
  display: flex;
  gap: 60px;
}

/* subheader */

.subheader__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.subheader__title {
  width: 540px;
  height: 331px;
}

.subheader__title h1 {
  color: #2c2d35;
  font-size: 60px;
  font-weight: 500;
  line-height: 110%;
}

.subheader__title span {
  color: var(--color-text);
}

.subheader__title p {
  color: #86928b;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  margin: 20px 0 60px 0;
}

.subheader__title button {
  background: #ffffff;
  display: inline-flex;
  height: 65px;
  padding: 20px 60px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  font-size: 20px;
  font-weight: 500;
}

/* reproduction */

.reproduction__menu {
  display: flex;
  justify-content: space-between;
}

.reproduction__menu h2 {
  color: #2c2d35;
  font-size: 40px;
  font-weight: 500;
  line-height: 110%; /* 44px */
}
.buttons {
  display: flex;
  gap: 32px;
}

.buttons .active {
  background: #376b44;
  color: #fff;
}

.buttons button {
  display: flex;
  padding: 10px 20px;
  color: #2c2d35;
  font-size: 20px;
  font-weight: 500;
  border-radius: 20px;
  background: #d4e8d9;
  border: none;
  cursor: pointer;
}

/* cards */

.cards {
  margin-top: 51px;
}

.card {
  padding: 20px 20px 0 20px;
  width: 350px;
  height: 730px;
  background: #e1ede6;
}

.blur-text {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #86928b;
  font-size: 18px;
  font-weight: 500;
}

.card-title {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #2c2d35;
  font-size: 30px;
  font-weight: 500;
}

.text {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #2c2d35;
  font-size: 18px;
  font-weight: 500;
}

.card-price {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color-text);
  font-size: 24px;
  font-weight: 500;
}

.card-cart {
  display: flex;
  width: 310px;
  height: 65px;
  padding: 20px 60px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: 1px solid #598d66;
  background-color: #fff;
  color: #598d66;
  font-size: 20px;
  font-weight: 500;
}
