* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a :focus, a :active {
  outline: none;
}

button {
  cursor: pointer;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

